@font-face {
    font-family: Bebas Neue;
    src: url(BebasNeue_Bold.otf) format("opentype"); 
    font-weight: bold;
}
@font-face {
    font-family: Bebas Neue;
    src: url(BebasNeue_Regular.otf) format("opentype"); 
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
*:focus {
    outline: none;
}

html,body {
    background-color: aqua;
    text-rendering: geometricPrecision;
    overflow-x: hidden;
}

h1 { 
font-family: BebasNeueRegular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 0.31px;
text-shadow: 7px 0px 1px rgba(0,0,0,0.50);
}
h2 {
    font-family: BebasNeueBold, Helvetica, sans-serif;
}

.hero-page {
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100%;
    background-image: url(Background.png);
    background-position:  100% 30%;
    background-size: 95%;
    background-repeat: no-repeat;
}
.rectangle {
    width: 990px;
    height: auto;
    position: absolute;
    top: 220px;
    left: 10%;
    right: 7%;
}
.hero-text {
    position: absolute;
    top: 460px;
    left: 60px;
}